extends layout.pug 
block content
    h1 About Us 
    p ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptate non voluptatum, dignissimos corporis dolorem atque iure sint quia beatae similique, laborum suscipit, in vel rerum. Beatae nostrum debitis, animi, sint omnis quibusdam, magni ad esse culpa sunt repellat reprehenderit.