extends layout.pug 
block content
    h1 Our Courses 
    ul  
        li Information Technology
        li Computer Science
        li Mathematics
        li Physics
        li Chemistry
        li Biology
        li Economics
        li Geography
        li History
        li Philosophy
        li Sociology
        li Law
        