extends layout.pug 
block content
    .container
        form(action="/students/update/" + id, method="post")
            .form-group
                label(for='firstName') FirstName
                input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter first name' name='firstname' value=student.firstname)
            .form-group
                label(for='lastname') LastName
                input#exampleInputPassword1.form-control(type='text' name="lastname" value=student.lastname)
            .form-group
                label(for='semester') Semester
                input#exampleInputPassword1.form-control(type='text'  name='semester' value=student.semester)
            button.btn.btn-primary(type='submit') Update

            