extends layout.pug 
block content
    .jumbotron.wrap
        h1.display-4 Welcome to Imaginary University of Science
    hr.my-4

    h1 Sign up here

    .container 
        form(action="/students", method="post")
            .form-group
                label(for='firstName') First Name
                input#exampleInputEmail1.form-control(type='text'  placeholder='Raila' name='firstname' required) 
            
            .form-group
                label(for='lastname') Last Name
                input#exampleInputPassword1.form-control(type='text' placeholder='Odinga' name="lastname" required)
            .form-group
                label(for='email') Email Address
                input#exampleInputEmail1.form-control(type='email'  placeholder='jakom@odm.com' name='email' required)
            .form-group
                label(for='semester') Course
                input#exampleInputPassword1.form-control(type='text' placeholder='e.g Information technology' name='semester' required)
            .form-group
                label(for='password') Password
                input#exampleInputEmail1.form-control(type='password' placeholder="password"  name='password' required)
            .form-group
                label(for='password') Confirm Password
                input#exampleInputEmail1.form-control(type='password'   name='cpassword' placeholder="confirm password" required)
            button.btn.home(type='submit') Sign up 
    